:root 
{
    --primary-color: #5c48ee;
    --primary-color-dark: #4b64e3;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body
{
    background-color: var(--primary-color-dark);
}

.login-form
{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: var(--primary-color-dark);
    padding: 40px;
    justify-content: center;
    display: grid;

    grid-template-columns: 1fe auto 1fr;
    align-items: center;
}

.container
{
    max-width: 800px;
    margin: 0 auto;
}

.login-form h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}

.login-form h2
{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 5px;
    line-height: 40px;
    color: #272346;
    text-align: center;
}

.login-form .main
{
    position: relative;
    display: flex;
    margin: 30px 0;
}

.content
{
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-img
{
    flex-basis: 50%;
    background: #dfe5ea;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}

.form-img img
{
    max-width: 100%;
}

p
{
    color: #666;
    opacity: 0.6;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.btn , button, input
{
    border-radius: 35px;
}

.btn:hover,
button:hover{
  color: #272346;
    transition: 0.5s ease;
}

a{
    text-decoration: none;
}

.login-form form
{
    margin: 30px 0;
}

.login-form input
{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #f7fafc;
    transition: 0.3s ease-in;
}

.login-form input:focus{
    background: transparent;
    border: 1px solid #4e34b6;
}

.login-form button
{
    font-size: 18px;
    color: #fff;
    background: #4e34b6;
    width: 100%;
    border: none;
    padding: 14px 15px;
    font-weight: 600;
    transition: 0.4s ease-in-out;
}

p.account a{
    color: #4e34b6;
}

p.account a:hover
{
    text-decoration: underline;
}

@media(max-width:736px)
{
    .login-form .main
    {
        flex-direction: column;
    }
    .login-form form
    {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .form-img
    {
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }

    .content
    {
        order: 1;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}